<h1><%=@client.name%></h1>
<h4>Email Address: 
    <a href="mailto:<%= @client.email%>"><%= @client.email%></a>
</h4>
<h4>
    Phone Number: <%= @client.phone_number != "" ? "<a href=tel:#{@client.phone_number}>#{@client.phone_number}</a>" : "N/A" %>
</h4>
<h2>Client Details</h2>
<table class="table table-bordered table-striped">
<tr><th>Detail</th> <th>Value</th></tr>
<tr>
    <td>Total Revenue</td>
    <td><span class="<%= @client.total >= 0 ? 'green_text' : 'red_text'%>">$<%=@client.total%></span></td>
</tr>
<tr>
    <td>Balance</td>
    <td><span class="<%= @client.balance >= 0 ? 'green_text' : 'red_text'%>">$<%=@client.balance%></span></td>
</tr>
</table>

<h2>Jobs</h2>
<table class="table table-bordered table-striped">
<tr><th>Name</th> <th>Price</th></tr>
<% for job in @client.jobs.order(:name) %>
<tr>
    <td><a href="/jobs/<%=job.id%>"><%= job.name%></a></td>
    <td> $<%= number_to_currency(job.total_price) %> </td>
</tr>
<% end %>
</table>
<a class="btn btn-primary" href="/clients/<%=@client.id%>/edit">Edit Client</a>
<a class="btn btn-primary" href="/clients/<%=@client.id%>/invoice">Genrate Invoice</a>
<form class="inline" action="/clients/<%=@client.id%>/delete" method="post">
<input name="_method" type="hidden" value="delete"/>
<input type="submit" value="Delete Client" class="btn btn-danger">
</form>