<h1><%=@client.name%></h1>
<h2>Email Address: 
    <a href="mailto:<%= @client.email%>"><%= @client.email%></a>
</h2>
<h2>
    Phone Number: <%= @client.phone_number != "" ? "<a href=tel:#{@client.phone_number}>#{@client.phone_number}</a>" : "N/A" %>
</h2>
<br/>
<a class="btn btn-primary" href="/clients/<%=@client.id%>/edit">Edit Client</a>
<a class="btn btn-primary" href="/clients/<%=@client.id%>/invoice">Genrate Invoice</a>
<br/><br/>
<form action="/clients/<%=@client.id%>/delete" method="post">
<input name="_method" type="hidden" value="delete"/>
<input type="submit" value="Delete Client" class="btn btn-danger">
</form>